
.mo_idp_btn-block {
    display: block !important;
    width: 90% !important;
}

.mo_idp_btn {
    display: inline-block;
    /*padding: 6px 12px;*/
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	text-decoration: none
}

.mo_idp_btn:focus,.mo_idp_btn:active:focus,.mo_idp_btn.active:focus,.mo_idp_btn.focus,.mo_idp_btn:active.focus,.mo_idp_btn.active.focus
	{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.mo_idp_btn:hover,.mo_idp_btn:focus,.mo_idp_btn.focus {

	text-decoration: none
}

.mo_idp_btn:active,.mo_idp_btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.mo_idp_btn.disabled,.mo_idp_btn[disabled],fieldset[disabled] .mo_idp_btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}

.mo_idp_btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.mo_idp_btn-default:hover,.mo_idp_btn-default:focus,.mo_idp_btn-default.focus,.mo_idp_btn-default:active,.mo_idp_btn-default.active,.open>.dropdown-toggle.mo_idp_btn-default
	{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.mo_idp_btn-default:active,.mo_idp_btn-default.active,.open>.dropdown-toggle.mo_idp_btn-default
	{
	background-image: none
}

.mo_idp_btn-default.disabled,.mo_idp_btn-default[disabled],fieldset[disabled] .mo_idp_btn-default,.mo_idp_btn-default.disabled:hover,.mo_idp_btn-default[disabled]:hover,fieldset[disabled] .mo_idp_btn-default:hover,.mo_idp_btn-default.disabled:focus,.mo_idp_btn-default[disabled]:focus,fieldset[disabled] .mo_idp_btn-default:focus,.mo_idp_btn-default.disabled.focus,.mo_idp_btn-default[disabled].focus,fieldset[disabled] .mo_idp_btn-default.focus,.mo_idp_btn-default.disabled:active,.mo_idp_btn-default[disabled]:active,fieldset[disabled] .mo_idp_btn-default:active,.mo_idp_btn-default.disabled.active,.mo_idp_btn-default[disabled].active,fieldset[disabled] .mo_idp_btn-default.active
	{
	background-color: #fff;
	border-color: #ccc
}

.mo_idp_btn-default .mo_idp_badge {
	color: #fff;
	background-color: #333
}

.mo_idp_btn-primary {
	color: #fff;
	border-color: #2e6da4;
	background-color: #0085ba;
	box-shadow: 0 1px 0 #006799;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.mo_idp_btn-primary:hover,.mo_idp_btn-primary:focus,.mo_idp_btn-primary.focus,.mo_idp_btn-primary:active,.mo_idp_btn-primary.active,.open>.dropdown-toggle.mo_idp_btn-primary
	{
	color: #fff;
	background-color: #286090;
	border-color: #204d74
}

.mo_idp_btn-primary:active,.mo_idp_btn-primary.active,.open>.dropdown-toggle.mo_idp_btn-primary
	{
	background-image: none
}

.mo_idp_btn-primary.disabled,.mo_idp_btn-primary[disabled],fieldset[disabled] .mo_idp_btn-primary,.mo_idp_btn-primary.disabled:hover,.mo_idp_btn-primary[disabled]:hover,fieldset[disabled] .mo_idp_btn-primary:hover,.mo_idp_btn-primary.disabled:focus,.mo_idp_btn-primary[disabled]:focus,fieldset[disabled] .mo_idp_btn-primary:focus,.mo_idp_btn-primary.disabled.focus,.mo_idp_btn-primary[disabled].focus,fieldset[disabled] .mo_idp_btn-primary.focus,.mo_idp_btn-primary.disabled:active,.mo_idp_btn-primary[disabled]:active,fieldset[disabled] .mo_idp_btn-primary:active,.mo_idp_btn-primary.disabled.active,.mo_idp_btn-primary[disabled].active,fieldset[disabled] .mo_idp_btn-primary.active
	{
	background-color: #337ab7;
	border-color: #2e6da4
}

.mo_idp_btn-primary .mo_idp_badge {
	color: #337ab7;
	background-color: #fff
}

.mo_idp_btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}

.mo_idp_btn-success:hover,.mo_idp_btn-success:focus,.mo_idp_btn-success.focus,.mo_idp_btn-success:active,.mo_idp_btn-success.active,.open>.dropdown-toggle.mo_idp_btn-success
	{
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}

.mo_idp_btn-success:active,.mo_idp_btn-success.active,.open>.dropdown-toggle.mo_idp_btn-success
	{
	background-image: none
}

.mo_idp_btn-success.disabled,.mo_idp_btn-success[disabled],fieldset[disabled] .mo_idp_btn-success,.mo_idp_btn-success.disabled:hover,.mo_idp_btn-success[disabled]:hover,fieldset[disabled] .mo_idp_btn-success:hover,.mo_idp_btn-success.disabled:focus,.mo_idp_btn-success[disabled]:focus,fieldset[disabled] .mo_idp_btn-success:focus,.mo_idp_btn-success.disabled.focus,.mo_idp_btn-success[disabled].focus,fieldset[disabled] .mo_idp_btn-success.focus,.mo_idp_btn-success.disabled:active,.mo_idp_btn-success[disabled]:active,fieldset[disabled] .mo_idp_btn-success:active,.mo_idp_btn-success.disabled.active,.mo_idp_btn-success[disabled].active,fieldset[disabled] .mo_idp_btn-success.active
	{
	background-color: #5cb85c;
	border-color: #4cae4c
}

.mo_idp_btn-success .mo_idp_badge {
	color: #5cb85c;
	background-color: #fff
}

.mo_idp_btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}

.mo_idp_btn-info:hover,.mo_idp_btn-info:focus,.mo_idp_btn-info.focus,.mo_idp_btn-info:active,.mo_idp_btn-info.active,.open>.dropdown-toggle.mo_idp_btn-info
	{
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}

.mo_idp_btn-info:active,.mo_idp_btn-info.active,.open>.dropdown-toggle.mo_idp_btn-info {
	background-image: none
}

.mo_idp_btn-info.disabled,.mo_idp_btn-info[disabled],fieldset[disabled] .mo_idp_btn-info,.mo_idp_btn-info.disabled:hover,.mo_idp_btn-info[disabled]:hover,fieldset[disabled] .mo_idp_btn-info:hover,.mo_idp_btn-info.disabled:focus,.mo_idp_btn-info[disabled]:focus,fieldset[disabled] .mo_idp_btn-info:focus,.mo_idp_btn-info.disabled.focus,.mo_idp_btn-info[disabled].focus,fieldset[disabled] .mo_idp_btn-info.focus,.mo_idp_btn-info.disabled:active,.mo_idp_btn-info[disabled]:active,fieldset[disabled] .mo_idp_btn-info:active,.mo_idp_btn-info.disabled.active,.mo_idp_btn-info[disabled].active,fieldset[disabled] .mo_idp_btn-info.active
	{
	background-color: #5bc0de;
	border-color: #46b8da
}

.mo_idp_btn-info .mo_idp_badge {
	color: #5bc0de;
	background-color: #fff
}

.mo_idp_btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}

.mo_idp_btn-warning:hover,.mo_idp_btn-warning:focus,.mo_idp_btn-warning.focus,.mo_idp_btn-warning:active,.mo_idp_btn-warning.active,.open>.dropdown-toggle.mo_idp_btn-warning
	{
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}

.mo_idp_btn-warning:active,.mo_idp_btn-warning.active,.open>.dropdown-toggle.mo_idp_btn-warning
	{
	background-image: none
}

.mo_idp_btn-warning.disabled,.mo_idp_btn-warning[disabled],fieldset[disabled] .mo_idp_btn-warning,.mo_idp_btn-warning.disabled:hover,.mo_idp_btn-warning[disabled]:hover,fieldset[disabled] .mo_idp_btn-warning:hover,.mo_idp_btn-warning.disabled:focus,.mo_idp_btn-warning[disabled]:focus,fieldset[disabled] .mo_idp_btn-warning:focus,.mo_idp_btn-warning.disabled.focus,.mo_idp_btn-warning[disabled].focus,fieldset[disabled] .mo_idp_btn-warning.focus,.mo_idp_btn-warning.disabled:active,.mo_idp_btn-warning[disabled]:active,fieldset[disabled] .mo_idp_btn-warning:active,.mo_idp_btn-warning.disabled.active,.mo_idp_btn-warning[disabled].active,fieldset[disabled] .mo_idp_btn-warning.active
	{
	background-color: #f0ad4e;
	border-color: #eea236
}

.mo_idp_btn-warning .mo_idp_badge {
	color: #f0ad4e;
	background-color: #fff
}

.mo_idp_btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}

.mo_idp_btn-danger:hover,.mo_idp_btn-danger:focus,.mo_idp_btn-danger.focus,.mo_idp_btn-danger:active,.mo_idp_btn-danger.active,.open>.dropdown-toggle.mo_idp_btn-danger
	{
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}

.mo_idp_btn-danger:active,.mo_idp_btn-danger.active,.open>.dropdown-toggle.mo_idp_btn-danger
	{
	background-image: none
}

.mo_idp_btn-danger.disabled,.mo_idp_btn-danger[disabled],fieldset[disabled] .mo_idp_btn-danger,.mo_idp_btn-danger.disabled:hover,.mo_idp_btn-danger[disabled]:hover,fieldset[disabled] .mo_idp_btn-danger:hover,.mo_idp_btn-danger.disabled:focus,.mo_idp_btn-danger[disabled]:focus,fieldset[disabled] .mo_idp_btn-danger:focus,.mo_idp_btn-danger.disabled.focus,.mo_idp_btn-danger[disabled].focus,fieldset[disabled] .mo_idp_btn-danger.focus,.mo_idp_btn-danger.disabled:active,.mo_idp_btn-danger[disabled]:active,fieldset[disabled] .mo_idp_btn-danger:active,.mo_idp_btn-danger.disabled.active,.mo_idp_btn-danger[disabled].active,fieldset[disabled] .mo_idp_btn-danger.active
	{
	background-color: #d9534f;
	border-color: #d43f3a
}

.mo_idp_btn-danger .mo_idp_badge {
	color: #d9534f;
	background-color: #fff
}

.mo_idp_btn-link {
	font-weight: 400;
	color: #337ab7;
	border-radius: 0
}

.mo_idp_btn-link,.mo_idp_btn-link:active,.mo_idp_btn-link.active,.mo_idp_btn-link[disabled],fieldset[disabled] .mo_idp_btn-link
	{
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.mo_idp_btn-link,.mo_idp_btn-link:hover,.mo_idp_btn-link:focus,.mo_idp_btn-link:active {
	border-color: transparent
}

.mo_idp_btn-link:hover,.mo_idp_btn-link:focus {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent
}

.mo_idp_btn-link[disabled]:hover,fieldset[disabled] .mo_idp_btn-link:hover,.mo_idp_btn-link[disabled]:focus,fieldset[disabled] .mo_idp_btn-link:focus
	{
	color: #777;
	text-decoration: none
}

.mo_idp_btn-lg,.mo_idp_btn-group-lg>.mo_idp_btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px
}

.mo_idp_btn-sm,.mo_idp_btn-group-sm>.mo_idp_btn {
	padding: 6px 12px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.mo_idp_btn-xs,.mo_idp_btn-group-xs>.mo_idp_btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.mo_idp_btn-block {
	display: block;
	width: 100%
}

.mo_idp_btn-block+.mo_idp_btn-block {
	margin-top: 5px
}

input[type=submit].mo_idp_btn-block,input[type=reset].mo_idp_btn-block,input[type=button].mo_idp_btn-block
	{
	width: 100%
}

.mo_idp_btn-group,.mo_idp_btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle
}

.mo_idp_btn-group>.mo_idp_btn,.mo_idp_btn-group-vertical>.mo_idp_btn {
	position: relative;
	float: left
}

.mo_idp_btn-group>.mo_idp_btn:hover,.mo_idp_btn-group-vertical>.mo_idp_btn:hover,.mo_idp_btn-group>.mo_idp_btn:focus,.mo_idp_btn-group-vertical>.mo_idp_btn:focus,.mo_idp_btn-group>.mo_idp_btn:active,.mo_idp_btn-group-vertical>.mo_idp_btn:active,.mo_idp_btn-group>.mo_idp_btn.active,.mo_idp_btn-group-vertical>.mo_idp_btn.active
	{
	z-index: 2
}

.mo_idp_btn-group .mo_idp_btn+.mo_idp_btn,.mo_idp_btn-group .mo_idp_btn+.mo_idp_btn-group,.mo_idp_btn-group .mo_idp_btn-group+.mo_idp_btn,.mo_idp_btn-group .mo_idp_btn-group+.mo_idp_btn-group
	{
	margin-left: -1px
}

.mo_idp_btn-toolbar {
	margin-left: -5px
}

.mo_idp_btn-toolbar .mo_idp_btn-group,.mo_idp_btn-toolbar .input-group {
	float: left
}

.mo_idp_btn-toolbar>.mo_idp_btn,.mo_idp_btn-toolbar>.mo_idp_btn-group,.mo_idp_btn-toolbar>.input-group {
	margin-left: 5px
}

.mo_idp_btn-group>.mo_idp_btn:not (:first-child ):not (:last-child ):not (.dropdown-toggle
	){
	border-radius: 0
}

.mo_idp_btn-group>.mo_idp_btn:first-child {
	margin-left: 0
}

.mo_idp_btn-group>.mo_idp_btn:first-child:not (:last-child ):not (.dropdown-toggle ){
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.mo_idp_btn-group>.mo_idp_btn:last-child:not (:first-child ),.mo_idp_btn-group>.dropdown-toggle:not
	(:first-child ){
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.mo_idp_btn-group>.mo_idp_btn-group {
	float: left
}

.mo_idp_btn-group>.mo_idp_btn-group:not (:first-child ):not (:last-child )>.mo_idp_btn {
	border-radius: 0
}

.mo_idp_btn-group>.mo_idp_btn-group:first-child>.mo_idp_btn:last-child,.mo_idp_btn-group>.mo_idp_btn-group:first-child>.dropdown-toggle
	{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.mo_idp_btn-group>.mo_idp_btn-group:last-child>.mo_idp_btn:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.mo_idp_btn-group .dropdown-toggle:active,.mo_idp_btn-group.open .dropdown-toggle {
	outline: 0
}

.mo_idp_btn-group>.mo_idp_btn+.dropdown-toggle {
	padding-right: 8px;
	padding-left: 8px
}

.mo_idp_btn-group>.mo_idp_btn-lg+.dropdown-toggle {
	padding-right: 12px;
	padding-left: 12px
}

.mo_idp_btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.mo_idp_btn-group.open .dropdown-toggle.mo_idp_btn-link {
	-webkit-box-shadow: none;
	box-shadow: none
}

.mo_idp_btn .caret {
	margin-left: 0
}

.mo_idp_btn-lg .caret {
	border-width: 5px 5px 0;
	border-bottom-width: 0
}

.dropup .mo_idp_btn-lg .caret {
	border-width: 0 5px 5px
}

.mo_idp_btn-group-vertical>.mo_idp_btn,.mo_idp_btn-group-vertical>.mo_idp_btn-group,.mo_idp_btn-group-vertical>.mo_idp_btn-group>.mo_idp_btn
	{
	display: block;
	float: none;
	width: 100%;
	max-width: 100%
}

.mo_idp_btn-group-vertical>.mo_idp_btn-group>.mo_idp_btn {
	float: none
}

.mo_idp_btn-group-vertical>.mo_idp_btn+.mo_idp_btn,.mo_idp_btn-group-vertical>.mo_idp_btn+.mo_idp_btn-group,.mo_idp_btn-group-vertical>.mo_idp_btn-group+.mo_idp_btn,.mo_idp_btn-group-vertical>.mo_idp_btn-group+.mo_idp_btn-group
	{
	margin-top: -1px;
	margin-left: 0
}

.mo_idp_btn-group-vertical>.mo_idp_btn:not (:first-child ):not (:last-child ){
	border-radius: 0
}

.mo_idp_btn-group-vertical>.mo_idp_btn:first-child:not (:last-child ){
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.mo_idp_btn-group-vertical>.mo_idp_btn:last-child:not (:first-child ){
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px
}

.mo_idp_btn-group-vertical>.mo_idp_btn-group:not (:first-child ):not (:last-child )>.mo_idp_btn
	{
	border-radius: 0
}

.mo_idp_btn-group-vertical>.mo_idp_btn-group:first-child:not (:last-child )>.mo_idp_btn:last-child,.mo_idp_btn-group-vertical>.mo_idp_btn-group:first-child:not
	(:last-child )>.dropdown-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.mo_idp_btn-group-vertical>.mo_idp_btn-group:last-child:not (:first-child )>.mo_idp_btn:first-child
	{
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.mo_saml_register_message{
  display: block;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #fb9a9a;
  color: red;
  background-color: rgba(255,0,0,0.1);
  padding: 8px;
  margin-top: 15px;
}

/*miniorange_saml_registration.php css classes*/

.mo_saml_loader {
  margin: auto;
  display: block;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mo_popup{
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}

.mo_popup-header1 {
  margin:0 0 50px 0;
  padding:10px;
  text-align:center;
  font-size:20px;
  color:darken(#e5e5e5, 50%);
  border-bottom:solid 1px #e5e5e5;
}
.mo_popup-header2 {
  margin:0 0 50px 0;
  padding:10px;
  text-align:center;
  font-size:16px;
  color:darken(#e5e5e5, 50%);
  border-bottom:solid 1px #e5e5e5;
}
.mo_popup-para1 {
  margin: 0 0 3em 0;
  position: relative;
}
.mo_popup-para2 {
  position: relative;
}
.mo_popup-input[type="text"],
.mo_popup-input[type="password"],
.mo_popup-input[type="email"] {
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 1.2em;
  padding: 6px 0 0 5px;
  border-radius: 4px;
}
.mo_popup-input[type="text"]:focus,
.mo_popup-input[type="password"]:focus,
.mo_popup-input[type="email"]:focus {
  background: #fff
}

.mo_popup-label{
  position: absolute;
  left: -4px;
  top: -25px;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: rgba(255,255,255,0);
  @include transition(color .3s, top .3s, background-color .8s);
&.mo_floatLabel{
   top: -11px;
   background-color: rgba(255,255,255,0.8);
   font-size: 14px;
 }
}


/** Class for Copy button */
.selected-text, .selected-text>*{
    background: #2196f3;
    color: #ffffff !important;
}

.mo_idp_attr_map_sp_name {
  display: inline-block;
  width: 35% !important;
  max-width: 450px;
}
.mo_idp_attr_map_sp_name_textfield{
  width: 90% !important;
}
.mo_idp_attr_map_idp_name {
  display: inline-block;
  width:55%;
}

.mo_saml_full_page_container {
  width: 96%;
  padding: 25px;
  border-radius: 4px !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  float: none;
}
